<div class="container">
    <h2>Add new product</h2>
    {{#if error}}
    <div class="alert alert-danger my-3">
        {{error}}
    </div>
    {{/if}}
    <form class="row g-3" method="POST" action="http://localhost:4000/admin/products/create"
        enctype="multipart/form-data">
        <div class="col-12">
            <label class="form-label">Product Title</label>
            <input type="text" class="form-control" name="title" required>
            <div class="valid-feedback">
                Product title is required
            </div>
        </div>
        <div class="col-12">
            <div class="custom-file mb-3 mt-4">
                <input type="file" class="custom-file-input" id="image" name="image" required>
                <label class="custom-file-label" for="image">Select product image</label>
            </div>
        </div>
        <div class="col-12">
            <label class="form-label">Product price</label>
            <input type="text" class="form-control" name="price" required>
            <div class="valid-feedback">
                Product price is required
            </div>
        </div>
        <div class="col-12">
            <label class="form-label">Product description</label>
            <textarea class="form-control" name="description" rows="5"></textarea>
            <div class="valid-feedback">
                Product description is required
            </div>
        </div>
        <div class="col-12">
            <label class="form-label">Category</label>
            <select class="form-control" aria-label="Default select example" name="categoryId" required>
                {{#each categories}}
                <option value="{{this.id}}">{{this.title}}</option>
                {{/each}}
            </select>
            <div class="valid-feedback">
                Category is required
            </div>
        </div>
        <div class="col-12 mt-3">
            <button type="submit" class="btn btn-primary">Add product</button>
        </div>
    </form>
</div>