<div class="container">
    <h2>Add new product</h2>
    <form class="row g-3 needs-validation" method="POST" action="http://localhost:4000/admin/products/addProduct">
        <div class="col-12">
            <label class="form-label">Product Title</label>
            <input type="text" class="form-control" name="title" required>
            <div class="valid-feedback">
                Product title is required
            </div>
        </div>
        <div class="col-12">
            <label class="form-label">Product image</label>
            <input type="text" class="form-control" name="image" required>
            <div class="valid-feedback">
                Product image is required
            </div>
        </div>
        <div class="col-12">
            <label class="form-label">Product price</label>
            <input type="text" class="form-control" name="price" required>
            <div class="valid-feedback">
                Product price is required
            </div>
        </div>
        <div class="col-12">
            <label class="form-label">Product description</label>
            <input type="text" class="form-control" name="description" required>
            <div class="valid-feedback">
                Product description is required
            </div>
        </div>
        <div class="col-12">
            <label class="form-label">Category</label>
            <select class="form-control" aria-label="Default select example" name="categoryId" required>
                {{#each categories}}
                <option value="{{this.id}}">{{this.title}}</option>
                {{/each}}
            </select>
            <div class="valid-feedback">
                Category is required
            </div>
        </div>
        <div class="col-12 mt-3">
            <button type="submit" class="btn btn-primary">Add product</button>
        </div>
    </form>
</div>