<div class="container">
    {{#if error}}
    <div class="alert alert-danger my-3">
        {{error}}
    </div>
    {{/if}}
    <div class="row justify-content-center">
        <h2 class="text-center my-5">Forgot password</h2>
        <div class="col-12 col-md-6">
            <form method="post" action="http://localhost:4000/forgot-password">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
    </div>
</div>