<nav class="navbar bg-body-tertiary navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="https://notebookcentre.am/wa-data/public/site/themes/notebookcenter/img/logo.png?v1623906284?v3.3.2.1743675251"
                alt="" srcset="" width="180">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end align-items-center flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/products">Products</a>
                    </li>
                    {{#if currentUser}}
                    <li class="nav-item">
                        <a class="nav-link fs-5" href="/profile">
                            <i class="fas fa-user"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5 position-relative cart-button" href="/cart">
                            <i class="fas fa-shopping-cart"></i>
                            <span
                                class="cart-button-badge position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                10
                                <span class="visually-hidden">New alerts</span>
                            </span>
                        </a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
</nav>